/* MCISOE General Styles */

:root {
  --mcisoe_primary_color: #016291;
  --mcisoe_secondary_color: #444444;
  --mcisoe_tertiary_color: rgb(255, 189, 47);
  --mcisoe_background_color: #f4f7f9;
  --mcisoe_background_color_2: #f4f7f9;
}
#mcisoe_content hr {
  border: 1px solid #e5e5e5;
  margin: 10px 0;
}
.mcisoe_header a {
  text-decoration: none;
}
.mcisoe_success {
  color: green;
}
.mcisoe_btn.green {
  background-color: rgb(247, 255, 247) !important;
  border: 1px solid green;
  font-size: 14px !important;
  color: green !important;
  text-decoration: none;
}
.mcisoe_btn.green:focus {
  box-shadow: none;
}
.dev_mode {
  opacity: 0.6;
  position: fixed;
  width: 95%;
  padding: 15px;
  color: red;
  border: 3px solid red;
  background: #ffe0e6;
  text-align: center;
}
.dev_mode p {
  margin: 0;
  font-size: 22px;
  font-weight: 600;
  text-transform: uppercase;
}

/* FORMS */
.mcisoe_checkbox label,
.mcisoe_input label,
.mcisoe_input_color label {
  margin-bottom: 10px;
  color: #0c5072;
  cursor: default;
}
.mcisoe_input label {
  display: block;
}
.mcisoe_input input[type="text"],
.mcisoe_input input[type="password"],
.mcisoe_input input[type="email"],
.mcisoe_input textarea {
  display: block;
  min-width: 500px;
  padding: 2px 15px;
  border: 1px solid #adadad;
  border-radius: 5px;
  margin-bottom: 10px;
  color: var(--mcisoe_secondary_color);
}
.mcisoe_input_color {
  display: inline-block;
  margin-bottom: 14px;
}
.mcisoe_input_color input[type="color"] {
  vertical-align: middle;
  margin-right: 5px;
}
.mcisoe_input input:focus,
.mcisoe_input textarea:focus,
.mcisoe_checkbox input:focus {
  border: 1px solid #9cbccb;
  box-shadow: 0 0 6px 0px #3b92d962;
}
.mcisoe_checkbox {
  display: block;
  margin-bottom: 14px;
}
.mcisoe_checkbox input:not([type="number"]) {
  border: 1px solid #9b9b9b;
  width: 18px;
  height: 18px;
  margin-top: 0px;
}
.mcisoe_checkbox input[type="number"] {
  width: 80px !important;
  margin-left: 5px !important;
}
.mcisoe_checkbox input[type="checkbox"]:checked::before {
  width: 20px;
  margin: -1px 0 0 -2px;
}
.mcisoe_input .mci_annotation {
  margin-top: -5px;
  margin-bottom: 25px;
  font-size: 13px;
  color: #7a7a7a;
  font-style: italic;
}
.mcisoe_input.text_field label,
.mcisoe_input.mcisoe_select label {
  margin-top: 25px;
}
.mcisoe_input.mcisoe_select #email_trigger {
  min-width: 250px;
}
.mcisoe_input #special_meta {
  width: 100%;
}
div.mcisoe_checkbox.company_info input {
  margin-top: 35px !important;
}
#mcisoe_options .option_disabled,
.mcisoe_checkbox .option_disabled {
  color: #0073aa8c;
}
.mcisoe_option_disabled {
  opacity: 0.6;
}
.mcisoe_checkbox input[type="checkbox"]:disabled {
  cursor: default;
}
.mcisoe_title {
  color: #145e8f;
  height: 25px;
  padding-top: 12px;
}
#mcisoe_options h3 {
  color: var(--mcisoe_primary_color);
  margin: 30px 0 15px;
}
.stars {
  color: #ffb900;
  font-size: 18px;
}
#mcisoe_content {
  background: #fff;
  display: block;
  padding: 20px;
  width: 95%;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
#mcisoe_suppliers {
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.mcisoe_table {
  font-size: 14px;
  background-color: var(--mcisoe_background_color);
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 15px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.mcisoe_table th {
  background-color: var(--mcisoe_primary_color);
  padding: 10px 25px;
  font-weight: 400;
  text-align: left;
  color: white;
  white-space: nowrap;
}
.mcisoe_nowrap {
  white-space: nowrap;
}
.mcisoe_table td {
  padding: 8px 25px;
}
.mcisoe_table th:first-child {
  border-top-left-radius: 5px;
}
.mcisoe_table th:last-child {
  border-top-right-radius: 5px;
}
td.mcisoe_not_suppliers {
  font-size: normal;
  padding: 25px;
  font-weight: 600;
}
td.mcisoe_not_suppliers::after {
  content: url("../img/arrow_up.png");
  margin-left: 40px;
  margin-top: 15px;
  display: block;
  animation-name: arrow_up;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
.mcisoe_table tbody {
  border-bottom: 3px solid #e0e0e0;
}
@keyframes arrow_up {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}
p.mci_field_add_taxonomy {
  margin-bottom: 25px;
}
a.mcisoe_link_to_options {
  display: block;
  padding: 7px 25px;
  width: fit-content;
  background-color: #ffffff;
  text-decoration: none;
  margin-top: 7px;
  margin-bottom: 30px;
  font-weight: 600;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}
#addtag input.button,
.mcisoe_btn {
  background: var(--mcisoe_primary_color) !important;
  color: #ffffff !important;
  padding: 6px 23px;
  border-color: transparent;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}
.mcisoe_btn {
  margin-top: 20px;
  margin-bottom: 20px;
}
.mcisoe_btn:hover {
  cursor: pointer;
  opacity: 0.9;
}
#addtag input.button:hover {
  cursor: pointer;
}
#addtag input.button:disabled,
#addtag input.button[disabled] {
  opacity: 0.9;
}
.button.mcisoe_notice_btn {
  margin-left: 10px;
}
.mcisoe_notice {
  margin-left: 180px;
}
.mcisoe_supplier_data_text {
  min-height: 200px;
}
.mcisoe_supplier_custom_text {
  min-height: 100px;
}

/* OPTIONS */
#mcisoe_options {
  margin: 30px 0 20px;
  padding: 20px;
  background-color: var(--mcisoe_background_color_2);
  border: 1px solid #638ea5;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
/* PREMIUM */
#mcisoe_login {
  padding: 20px 20px 5px;
  margin: 15px 0;
  background: #fff;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
#mcisoe_login.background_green {
  display: inline-block;
  background: #f2fff4;
  box-shadow: 0 0 10px 0px #0c6a0c36;
  border: 1px solid #cbcbcb;
}
#mcisoe_login .mcisoe_success {
  display: block;
  padding-bottom: 13px;
}
.deactivate_text {
  color: gray;
  margin-top: 0px;
}
#mcisoe_deactivate {
  float: right;
  font-size: 13px;
  background-color: #ff5200c2 !important;
}
#mcisoe_show_email_field {
  float: right;
  line-height: 8;
  cursor: pointer;
}
/* WOOCOMMMERCE PRODUCTS PAGE */
table.wp-list-table .column-taxonomy-supplier {
  width: 15ch;
  word-wrap: normal;
}

/* FOOTER */
.instructions_mcisoe ul {
  list-style: circle;
  padding: 10px 20px;
}
#footer-thankyou {
  display: none;
}
